@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,p
pre, form, fieldset, textarea, blockquote, span, * {
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    overflow: scroll;
    /* IE scroll 숨김 */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

a{
    text-decoration: none;
    color: #262525;
    font-weight: 400;
}
html, body {
    margin: 0;
    padding: 0;
}

.bac-color-grey{
    background-color: #eaeaea;
}
.fixed{
    position: fixed;
}
.fullWidth{
    width: 100%;
}


.underline{
    border-bottom: 1px solid #e1d6d6;
}

.underlineShadow{
    border-bottom: 1px solid #e1d6d6;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 20%);;
}
.height-35p{
    height: 35px;
}
.height-40p{
    height: 40px;
}
.height-70p{
    height: 70px;
}
.height-55p{
    height: 55px;
}
.height-100per{
    height: 100%;
}
.height-110p{
    height: 110px;
}

.mar-auto-0{
    margin: 0 auto;
}
.mar-top-0{
    margin-top: 0px;
}
.mar-top-30{
    margin-top: 30px;
}
.mar-auto{
    margin:0 auto;
}
.width-40p{
    width: 40px;
}
.width-80per{
    width: 80%;
}
.width-70p{
    width: 70px;
}
.width-1250px{
    width: 1250px;
}
.width-70per{
    width: 70%;
}
.width-100p{
    width: 100px;
}
.width-150p{
    width: 150px;
}
.width-200p{
    width: 200px;
}
.width-350p{
    width: 350px;
}
.width-100per-400p{
    width: calc( 100% - 400px);
}
.width-100per-200p{
    width: calc( 100% - 200px);
}
.width-100per-350p{
    width: calc( 100% - 350px);
}
.width-100per{
    width: 100%;
}



.width-100per-devide-6{
    width: calc(100% / 6);
}
/*color*/
.bac-color-gray{
    background-color: #987676;
}
.bac-color-blue{
    background-color: #1c8bec;
}
.bac-color-green{
    background-color: #69d79c;
}
.bac-color-white{
    background-color: white;
}.bac-color-gray-blue{
    background-color: #515b75;
}
.noulstyle{
    margin: 0;
    padding: 0;
    list-style: none;
}


.float-left{
    float: left;
}

.float-right{
    float: right;
}

.disp-block{
    display: block;
}
.dsip-inlineblock{
    display: inline-block;
}
.disp-flex{
    display: flex;
}

.nav-div-ul-li{
    height: 20px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.nav-ul-li-p{
    height: 20px;
    margin: 0px;
    color: #7a7676;
    font-size: 13px;
}

.nav-ul-li-p > img{
    width: 20px;
    height: 20px;
}
nav > div > div > div > img{
    width: 150px;
    height: 40px;
}

nav > div > div >  ul.noulstyle >li {
    height: 70px;

    z-index: 10;
}
nav > div > div >  ul.noulstyle >a {
    height: 70px;
    z-index: 10;
}
.hover-li:hover {
    cursor: pointer;
}
.hover-btn:hover {
    cursor: pointer;
}
nav > div > div >  ul.noulstyle >a:first-child {
    border-right: none;
}

nav > div > div >  ul.noulstyle >li > p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
nav > div > div >  ul.noulstyle >a > p {
    text-align: center;
    line-height: 48px;
    font-size: 13px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
#magnifier_img{
    display: inline-block;
    margin-top: 18px;
    width: 20px;
    height: 20px;
}

.building:hover {
    cursor: pointer;
}

Link{
    display: block;
}

.hidden {
    display: none;
}
.dropdown{
    height: inherit;
    width: 100%;
}
.drop-menu{
    background-color: white;
    border-left:1px solid #cecdcd;
    border-right:1px solid #cecdcd;
    border-bottom: 8px solid #293462;
    padding-top: 20px;
}

div.dropdown > a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 73px;
    height: 70px;
    font-size: 13px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
div.dropdown > a:hover{
    background-color:#293462;
    color: #cc7730;
}

a.dropdown-menu{
    text-decoration: none;
    color: #262525;
    display: block;
    text-indent: 20px;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    line-height: 34px;
    height: 35px;
    background-color: white;
    letter-spacing: 1px;
}
.text-indent-20p{
    text-indent: 20px;
}

.hover-drop:hover{
    cursor: pointer;
    background-color: #e1dede;
}
.li-to-small-down-style{
    text-decoration: none;
    color: #262525;
    display: block;
    text-indent: 20px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    line-height: 54px;
    letter-spacing: 1px;
}

.border-1-s-g{
    border: 1px solid #dcd9d9;
}

.tc-lh60-fs15{
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
.tc-lh100-fs22{
    text-align: center;
    line-height: 110px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
.padding-trl-80p{
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
}

.margin-t-55p{
    margin-top: 55px;
}
.padding-rl-80p-t-40p{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.border-1-s-t{
    border-top: 1px solid #e3dfe5;
}
.hljs-attribute{
    color: #cc7730;
}

.top-bar-li{
    font-size: 14px;
    border-right: 1px solid #cecdcd;

}

.login-div{
    width: 100%;
}

.h2-head{
    width: 100%;
    border-bottom: 1px solid #d5d2d2;
    padding-bottom: 20px;
    color: #525151;
}





.login-frm-btn{
    text-indent: 15px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    border: 1px  solid #c4c2c2;
    font-size: 13px;
}
.login-frm-btn:focus{
    outline: none;
}
.login-frm-submit-btn{

}
.login-frm-submit-btn:active{

}

.border-bot-1p-w{
    border-bottom: 1px solid white;
}
.profile-div{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 50px;
}
.pad-t85p{
    padding-top: 85px;
}
.pad-t56p{
    padding-top: 56px;
}
.profile-div > img {
    width: 100%;
    height: 100%;
}

.bac-color-293462{
    background-color: #293462;
}
.color-FEB139{
    color: #FEB139;
}
.color--293462{
    color: #293462;
}
.bac-color-FEB139{
    background: #FEB139;
}
.fa-power-off{
    display: inline-block;
    margin-right: 10px;
}
.main-logo-top-div > img{
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    height: auto;
}
.fa-house-circle-check{
    font-size: 30px;
    display: inline-block;
    color: #262525;

}
.text-center{
    text-align: center;
    line-height: 80px;
}
.login-from{
    width: 602px;
    height: 500px;
    margin: 0 auto;
}

.width-auto{
    width: auto;
}

.write_btn{
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border: 2px solid #FEB139;
    background-color: #293462;
}
.write_btn > a {
    color: #FEB139;
}
.table-div{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    height: auto;
    background-color: #728388;

}

.content-container{
    border-bottom: 1px solid #cecece;
    margin-bottom: 50px;

}

.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.content-title{
    color: #3a3b3f;
    padding-left: 4px;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;

}


.content-writer{
    padding-left: 4px;
    font-size: 16px;
    line-height: 40px;
}

.content-body{
    margin-bottom: 20px;
}
.border-circle{
    border-radius: 50%;
}
.div-img{
    overflow: hidden;
}
.margin-right-10p{
    margin-right: 10px;
}
.content-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

ul > a.hover-li:hover{
    background-color:#293462;
    color: #cc7730;
}
ul > a.hover-li:hover p{
    color: #cc7730;
}
.height-100vh{
    height: auto;
    min-height: 100vh;
}
.height-100vh-110p{
    height: calc( 100vh - 112px);
}
.sc-bczRLJ{
    background-color: #e3e3e3;
}
.height-inherit{
    height: inherit;
}
.p{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #6b6868;
}
.main-category{
    height: 55px;
    font-weight: 700;
    color: #7a7676;
    line-height: 70px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
}
.recent-container{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;

}
.liner-padding-rl-20px{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #cecdcd;
}
.recent-img{
    width: 80px;
    height: 80px;
}


.recent-content-box > p{
    padding-left: 10px !important;
    text-indent: 0px;
    margin: 0;
    padding: 0;
}

.recent-content-p{
    font-size: 17px;
    height: 25px;
    line-height: 25px;
    color: #1c8bec;
    margin-bottom: 6px !important;
}
.recent-content-p2{
    height: auto;
    text-indent: 20px;
    height: auto;
    line-height: 20px;
    font-size: 13px;
}
.recent-content-p3{
    padding-right: 10px;
    margin-top: 10px !important;
    margin-right: 10px !important;
    text-align: right;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.width-228p{
    width: 228px;
}

.article-banner{
    width: 100%;
    height: 120px;
}
.bac-color-2B2B28{
    background-color: #2B2B28;
}
.bac-color-D61C4E{
    background-color: #2B2B28;
}
.date-selector-div{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gainsboro;
}
.calendar-fas{
    width: 25px;
    height: 25px;
    margin-left: 35px;
    margin-top: 25px;
}
.calendar-span{
    color: #606060;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top :-4px;
}
.padding-tr-40p{
    padding-left: 15px;
    padding-right: 15px;
}
.article-card-body{
    display: flex;
    flex-wrap: wrap;
}
.article-card{
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 50%;
    border-radius: 3px;
    margin-top: 30px;
    flex-basis: calc( 50% - 40px);
}

.height-230p{
    height: 230px;
}
.bac-color-white2{
    background-color: #ecebeb;
}

.article-card-category{
    width: 100px;
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #1c8bec;
}
.article-card-date{
    color: #7a7676;
}
.article-card-title{
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #424241;
}
.article-card-content{
    color: #7a7676;
}
.search-bar{
    font-size: 13px;
    color: #7a7676;
    text-indent: 10px;
    margin-left: 13px;
    border-radius: 3px;
    width: 260px;
    height: 30px;
    outline: none;
    border: none;
}
.liner{
    border-radius: 0;
    width: 0px;
    position: relative;
    right: -135px;
    transition: all 0.1s linear;
}
.show{
    width: 250px;
    position: relative;
    right: -11px;
    transition: all 0.1s linear;
}
.padding-rl-20p{
    color: #6b6d70;
    padding: 20px;
}

.roboto{
    font-family: 'Roboto Condensed', sans-serif;
}
.link-category{
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}
.width-100per-40p{
    width: calc( 100% - 40px);
}
.link-to-cateogry{

    border-bottom: 1px solid #cecdcd;
    height: 50px;
    line-height: 62px;
}
.fas-play{
    color: #b0afaf;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 7px;
    line-height: 10px;
}
.link-to-cateogry >a{
    color: #6b6d70;
    height: 50px;
    line-height: 62px;
    font-weight: 300;
    font-size: 14px;
}
.upper-arrow{
    color: #6b6868;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 25px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #adadad;

    bottom: 3px;
    left: calc(50% - 350px );
    box-shadow: 3px 0 6px 0 rgb(0 0 0 / 20%);;
}
.article-body{
}

.top-pagenation-div{
    border-top: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 30px;
}
.top-head-nav2{
    display: none;
}

.pagination-nav {
    margin-top: 80px;
    border-top: 1px solid gainsboro;
    padding-top: 20px;
    margin-bottom: 20px;
}


.pagination {
    display: block;
    width: 280px;
    height: 70px;
    margin: 0 auto
}


