@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,p
pre, form, fieldset, textarea, blockquote, span, * {
    font-family: 'Noto Sans KR', sans-serif;
}
p{margin: 0; padding: 0}
.summit{
    }
.top-header{
    top: -50px;
    right: -940px;
}
.absolute{
    position: absolute;
}
.relatived{
    position: relative;
}
.blogname{
    letter-spacing: 0.3px;
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    position: fixed;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
}
body {
    overflow: scroll;
    /* IE scroll 숨김 */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

a{
    text-decoration: none;
    color: #262525;
    font-weight: 400;
}
html, body {
    margin: 0;
    padding: 0;
}

.bac-color-grey{
    background-color: #f1f1f1;
}
.color-grey{
    color: #2B2B28;
}
.fixed{
    position: fixed;
}
.fullWidth{
    width: 100%;
}



.underlineShadow{
    border-bottom: 1px solid #e1d6d6;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 20%);;
}
.height-35p{
    height: 35px;
}
.height-40p{
    height: 40px;
}
.height-70p{
    height: 70px;
}
.height-55p{
    height: 55px;
}
.height-100per{
    height: 100%;
}
.height-110p{
    height: 110px;
}
.height-112p{
    height: 112px;
}

.mar-auto-0{
    margin: 0 auto;
}
.mar-top-0{
    margin-top: 0px;
}
.pad-top-16{
    padding-top: 16px  !important;
}
.mar-top-30{
    margin-top: 30px;
}
.mar-auto{
    margin:0 auto;
}
.width-40p{
    width: 40px;
}
.width-80per{
    width: 80%;
}
.width-70p{
    width: 70px;
}
.width-800p{
    width: 800px;
}
.width-900p{
    width: 900px;
}
.width-1140px{
    width: 1140px;
}

.width-1250px{
    width: 1250px;
}
.width-70per{
    width: 70%;
}
.width-80p{
    width: 80px;
}
.width-100p{
    width: 100px;
}
.width-140p{
    width: 140px;
}
.width-150p{
    width: 150px;
}
.width-200p{
    width: 200px;
}
.width-330p{
    width: 330px;
}
.width-340p{
    width: 340px;
}
.width-350p{
    width: 350px;
}
.width-100per-400p{
    width: calc( 100% - 400px);
}
.width-100per-200p{
    width: calc( 100% - 200px);
}
.width-100per-340p{
    width: calc( 100% - 340px);
}
.width-100per-350p{
    width: calc( 100% - 350px);
}
.width-100per{
    width: 100%;
}



.width-100per-devide-6{
    width: calc(100% / 6);
}
/*color*/
.bac-color-gray{
    background-color: #987676;
}
.bac-color-blue{
    background-color: #1c8bec;
}
.bac-color-green{
    background-color: #69d79c;
}
.bac-color-white{
    background-color: white;
}.bac-color-gray-blue{
    background-color: #515b75;
}
.noulstyle{
    margin: 0;
    padding: 0;
    list-style: none;
}


.float-left{
    float: left;
}

.float-right{
    float: right;
}

.disp-block{
    display: block;
}
.dsip-inlineblock{
    display: inline-block;
}
.disp-flex{
    display: flex;
}

.nav-div-ul-li{
    height: 20px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.nav-ul-li-p{
    height: 20px;
    margin: 0px;
    color: #7a7676;
    font-size: 13px;
}

.nav-ul-li-p > img{
    width: 20px;
    height: 20px;
}
nav > div > div > div > img{
    width: 150px;
    height: 40px;
}

nav > div > div >  ul.noulstyle >li {
    height: 70px;

    z-index: 10;
}
nav > div > div >  ul.noulstyle >a {
    height: 70px;
    z-index: 10;
}
.hover-li:hover {
    cursor: pointer;
}
.hover-btn:hover {
    cursor: pointer;
}
nav > div > div >  ul.noulstyle >a:first-child {
    border-right: none;
}

nav > div > div >  ul.noulstyle >li > p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
nav > div > div >  ul.noulstyle >a > p {
    text-align: center;
    line-height: 48px;
    font-size: 13px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
#magnifier_img{
    display: inline-block;
    margin-top: 18px;
    width: 14px;
    height: 14px;
}

.building:hover {
    cursor: pointer;
}

Link{
    display: block;
}

.hidden {
    display: none;
}
.dropdown{
    height: inherit;
    width: 100%;
}
.drop-menu{
    background-color: white;
    border-left:1px solid #cecdcd;
    border-right:1px solid #cecdcd;
    border-bottom: 8px solid #293462;
    padding-top: 20px;
}

div.dropdown > a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 73px;
    height: 70px;
    font-size: 13px;
    color: #262525;
    font-weight: 600;
    letter-spacing: 1px;
}
div.dropdown > a:hover{
    background-color:#293462;
    color: #cc7730;
}

a.dropdown-menu{
    text-decoration: none;
    color: #262525;
    display: block;
    text-indent: 20px;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    line-height: 34px;
    height: 35px;
    background-color: white;
    letter-spacing: 1px;
}
.text-indent-20p{
    text-indent: 20px;
}

.hover-drop:hover{
    cursor: pointer;
    background-color: #e1dede;
}
.li-to-small-down-style{
    text-decoration: none;
    color: #262525;
    display: block;
    text-indent: 20px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    line-height: 54px;
    letter-spacing: 1px;
}

.border-1-s-g{
    border: 1px solid #dcd9d9;
}

.tc-lh60-fs15{
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
.tc-lh100-fs22{
    text-align: center;
    line-height: 110px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
.padding-trl-80p{
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
}

.margin-t-55p{
    margin-top: 55px;
}
.padding-rl-80p-t-40p{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.border-1-s-t{
    border-top: 1px solid #e3dfe5;
}
.hljs-attribute{
    color: #cc7730;
}

.top-bar-li{
    font-size: 14px;
    border-right: 1px solid #cecdcd;

}

.login-div{
    width: 100%;
}

.h2-head{
    width: 100%;
    border-bottom: 1px solid #d5d2d2;
    padding-bottom: 20px;
    color: #525151;
}





.login-frm-btn{
    text-indent: 15px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    border: 1px  solid #c4c2c2;
    font-size: 13px;
}
.login-frm-btn:focus{
    outline: none;
}
.login-frm-submit-btn{

}
.login-frm-submit-btn:active{

}

.border-bot-1p-w{
    border-bottom: 1px solid white;
}
.profile-div{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 50px;
}
.pad-t85p{
    padding-top: 85px;
}
.pad-t56p{
    padding-top: 56px;
}
.profile-div > img {
    width: 100%;
    height: 100%;
}

.bac-color-293462{
    background-color: #293462;
}
.color-FEB139{
    color: #FEB139;
}
.color--293462{
    color: #293462;
}
.bac-color-FEB139{
    background: #FEB139;
}
.bac-color-293462{
    background: #293462;
}
.fa-power-off{
    display: inline-block;
    margin-right: 10px;
}
.main-logo-top-div > a > img{
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    height: auto;
}
.fa-house-circle-check{
    font-size: 30px;
    display: inline-block;
    color: #262525;

}
.text-center{
    text-align: center;
}
.line-h-45px{
    line-height: 45px;
}
.line-h-54px{
    line-height: 54px;
}
.line-h-80px{
    line-height: 80px;
}

.line-h-90px{
    line-height: 90px;
}
.login-from{
    width: 602px;
    height: 500px;
    margin: 0 auto;
}

.width-auto{
    width: auto;
}

.write_btn > a {
    color: #FEB139;
}
.table-div{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    height: auto;
    background-color: #728388;

}

.content-container{
    border-bottom: 1px solid #cecece;
    margin-bottom: 50px;

}

.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.content-title{
    color: #3a3b3f;
    padding-left: 4px;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;

}


.content-writer{
    padding-left: 4px;
    font-size: 16px;
    line-height: 40px;
}

.content-body{
    margin-bottom: 20px;
}
.border-circle{
    border-radius: 50%;
}
.div-img{
    overflow: hidden;
}
.margin-right-10p{
    margin-right: 10px;
}
.margin-right-30p{
    margin-right: 30px;
}
.margin-right-50p{
    margin-right: 50px;
}
.padding-right-30p{
    padding-right: 30px;
}
.padding-left-30p{
    padding-left: 30px;
}
.border-1-s-g-toR{
    border-right: 1px solid gray;
}
.border-none{
    border: none;
}
.content-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

ul > a.hover-li:hover{
    background-color: #e8e8e8;
    color: #cc7730;
}
ul > a.hover-li:hover p{
    color: #cc7730;
}
.height-100vh{
    height: auto;
    min-height: 100vh;
}
.height-100vh-110p{
    height: calc( 100vh - 112px);
}
.sc-bczRLJ{
    background-color: #e3e3e3;
}
.height-inherit{
    height: inherit;
}
.p{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #6b6868;
}
.main-category{
    height: 55px;
    font-weight: 700;
    color: #7a7676;
    line-height: 70px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
}
.font-size-15px{
    font-size: 14px;
}
.underline{
    border-bottom: 1px  solid #d7d7d7;
}
.recent-container{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;

}
.liner-padding-rl-20px{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #cecdcd;
}
.recent-img{
    width: 80px;
    height: 80px;
}


.recent-content-box > p{
    padding-left: 10px !important;
    text-indent: 0px;
    margin: 0;
    padding: 0;
}

.recent-content-p{
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    color: #1c8bec;
    margin-bottom: 6px !important;
    overflow: hidden;
}
.recent-content-p2{
    height: auto;
    text-indent: 20px;
    height: auto;
    font-weight: 200;
    line-height: 20px;
    font-size: 13px;
}
.recent-content-p3{
    padding-right: 10px;
    margin-top: 10px !important;
    margin-right: 10px !important;
    text-align: right;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
}

.width-228p{
    width: 228px;
}

.article-banner{
    padding-top: 50px;
    width: 100%;
    height: 70px;
}
.bac-color-2B2B28{
    background-color: #2B2B28;
}

.bac-color-D61C4E{
    background-color: #2B2B28;
}
.bac-color-155674{
    background-color: #155674;
}
.font-size-16px{
    font-size: 16px;
}
.right-0p{
    right: 0px;
}
.wrt-btn-positioner{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.calendar-fas{
    width: 25px;
    height: 25px;
    margin-left: 35px;
    margin-top: 25px;
}
.calendar-span{
    color: #606060;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top :-4px;
}
.tc-spacer{
    padding-top: 100px;
    margin-bottom: 100px;
}
.padding-tr-40p{
    padding-left: 15px;
    padding-right: 15px;
}
.article-card{
    border-radius: 3px;
    margin-top: 30px;
    width: 100%;
}

.height-230p{
    height: 230px;
}
.height-160p{
    height: 160px;
}
.bac-color-white2{
    background-color: #171616;
}
.disp-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.article-card-category{
    display: inline-block;
    padding-top: 3px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #1c8bec;
}
.article-card-date{
    font-family: Roboto;
    font-size: 15px;
    color: #7a7676;
}
.article-card-title{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #181818;
}
.article-card-content{
    margin-top: 5px;
    color: #696868;
}
.width-140p{
    width: 140px;
}
.height-140p{
    height: 140px;
}
.mar-b-20px{
    margin-bottom: 20px;
}
.search-bar{
    font-size: 13px;
    word-spacing: 1px;
    color: #8f8c8c;
    text-indent: 10px;
    margin-left: 13px;
    border-radius: 3px;
    width: 260px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #fac87b;
}
.liner{
    border-radius: 0;
    width: 0px;
    position: relative;
    right: -135px;
    transition: all 0.1s linear;
}
.show{
    width: 250px;
    position: relative;
    right: -11px;
    transition: all 0.1s linear;
}
.padding-rl-20p{
    color: #6b6d70;
    padding: 20px;
}

.roboto{
    font-family: 'Roboto Condensed', sans-serif;
}
.link-category{
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}
.width-100per-40p{
    width: calc( 100% - 40px);
}
.link-to-cateogry{

    border-bottom: 1px solid #cecdcd;
    height: 50px;
    line-height: 62px;
}
.fas-play{
    color: #b0afaf;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 7px;
    line-height: 10px;
}
.link-to-cateogry >a{
    color: #6b6d70;
    height: 50px;
    line-height: 62px;
    font-weight: 300;
    font-size: 14px;
}
.upper-arrow{
    color: #6b6868;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 25px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #adadad;

    bottom: 3px;
    left: calc(50% - 350px );
    box-shadow: 3px 0 6px 0 rgb(0 0 0 / 20%);
}
.article-body{
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc( 100% );
    height: auto;
    border-bottom: 1px solid #d7d7d7;
}

.top-pagenation-div{
    border-top: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 30px;
}
.top-head-nav{
    position: absolute;
    z-index: 100;
}
.top-head-nav2{
    display: none;
    position: absolute;
    z-index: 100;
}

.pagination {
    display: block;
    width: 280px;
    height: 70px;
    margin: 0 auto
}



.write_btn{
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #FEB139;
    position: relative;
    top :22px;
    right: 10px;
    background-color: #2B2B28;
    color: wheat;
}
.padding-rl-40p{
    padding-left: 40px;
    padding-right: 40px;
}
.width-1168px{
    width: 1168px;
}

/*.toastui-editor-defaultUI, toastui-editor-main toastui-editor-md-mode, toastui-editor-md-container{*/
/*    height: 800px !important;*/
/*}*/

.editor-header-container{
    width: 100%;
    height: 80px;
    background-color: #2B2B28;
    border-bottom: 3px solid #FEB139;
    border-top: 3px solid #FEB139;
}
.editor-title-container{
    width: 100%;
    height: 130px;
}
.bac-color-temp{
    background-color: #efefef;
}
.box-shadow{
    box-shadow: 1px 0 6px 0 rgb(0 0 0 / 15%);
}
.ProseMirror,toastui-editor-md-preview{
    background-color: white;
}
.te-preview{
    background-color: white;
}
.content-title-input{
    word-spacing: 3px;
    color: #5d5a5a;
    padding: 0;
    margin: 0;
    margin-top: 74px;
    margin-left: 10px;
    width: 850px;
    height: 35px;
    outline: none;
    border: 1px solid #d3d3d3;
}
.tag-input{
    word-spacing: 3px;
    color: #5d5a5a;
    padding: 0;
    margin: 0;
    margin-left: 145px;
    margin-bottom: 30px;
    width: 850px;
    height: 30px;
    outline: none;
    border: 1px solid #d3d3d3;
}
.te-editor-section{
    word-spacing: 3px;
}
.MuiFormControl-root{
    margin-top: 62px !important;
}
.margin-left-10p{
    margin-left: 10px;
}

.margin-left-30p{
    margin-left: 30px;
}

.article-banner > img{
    display: inline-block;
    width: 150px;
    height: 75px;
}
.font-color-white{
    color: white;
}

.hover-color-FEB139:hover{
    color: #FEB139;
}

.hover-color-F5FFAE:hover{
    color: #F5FFAE;
}

.MuiButton-contained{
    margin-right: 20px !important;
    float: right;
    letter-spacing: 1px !important;
    font-size: 12px !important;
    width: 120px;
    height: 45px;
    font-family: Roboto !important;
    margin-top: 30px !important;
    background-color: #FEB139 !important;
}

description-table-parent{
    width: 100%;
    margin: 30px;
}
.description-table{
    padding: 0;
    margin: 0;
    width: 100%;
background-color: #ddeaf5;
}
.description-table > tr {
    height: 30px;
}


.description-table > tr > td{
    text-indent: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #5b5a5a;
    border: 1px solid #ececec;
    font-family: Roboto;
}

.description-table > tr > td:first-child{
    width: 150px;
}
.description-table > tr > td:last-child{
    width: calc(100% - 150px );
}
.dependecies-p {
    margin-top:50px;
    margin-bottom: 2px;
    font-family: Roboto;
    padding-left: 40px;
    font-weight: 700;
    color: #545252;

}

.dependecies{
    font-size: 14px;
    padding-left: 80px;
}

.dependecies > ul > li{
    line-height: 35px;
    font-family: Roboto;
    color: #6b6868;

    margin-right: 15px;
    height: 30px !important;
    border-bottom: 1px solid #d9d8d8;
}
.dependecies-fontawsome{
    display: inline-block;
    margin-right: 15px;
    font-size: 8px;
}
.login-frm-btn::placeholder{
    color: #b7b6b6;
}
.view-Header{
    background-color: #293462;
}
.article-title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    vertical-align: bottom;
    font-size: 30px;
    word-break: break-word;
    word-spacing: 3px;
    border-bottom: 1px solid #d7d7d7;
    color : #3b3939;
}
.article-title > p{
    margin-bottom: 20px;
}
.article-title > span{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #747577;
}
.article-title-div {
    display: inline-block;
    margin-right: 12px;
    float: left;
    font-size: 14px;
    color: #747577;
}
.tpye_btn{
    margin: 0 !important;
    color: #c5c5c5 !important;
    background-color: #293462 !important;
    font-size: 13px !important;
    line-height: 35px !important;
    width: 40px;
    height: 40px;
    position: relative;
    top :15px;
    right: 10px;
}
.tpye_btn > span{
    font-size: 17px;
}

.article-footer{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
}
.mar-l-20px{
    margin-left: 20px;
}
.mar-r-20px{
    margin-right: 20px;
}
.prev-next-btn{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 13px;
    color: #747577;
}
.tui-editor-contents{

}

.article-card-body > div{
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);

}
.font-size-18px{
    font-size: 18px;
}
.article-card-body-body{
    width: calc( 100% - 160px);
}
.tui-editor-contents > pre{
    margin: 0 auto;
    width: calc(100% - 140px);
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 40px !important;
    padding-bottom: 15px !important;
    background-color: #333 !important;
    border-bottom: 1px solid #e1d6d6 !important;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 20%) !important;
}
code{
    font-family: Roboto !important;
    letter-spacing: 0.5px !important;
    color: #e3e2e2 !important;
}
.hljs-type{
    color: #e38951;
}
.hljs-string{
    color: #44a93f;
}
.hljs-variable{
    color: #b86ce3;
}
.hljs-operator{
    color: #f5f5f5;
}
.hljs-meta{
    color: #d7d72c;
}
.hljs-keyword{
    color:  #e38951 !important;
}
.function_{
    color: #eec74b !important;
}
.hljs-params{
    color: whitesmoke;
}
.hljs-literal{
    color:  #e38951 !important;
}
.class_ {
    color: whitesmoke !important;
}
.hljs-built_in{

}


.pagination{
    background: none;
    text-align: center;
}
.page-item{
    display: inline-block;
    width: auto;
    text-align: center;
}

.menu-div >  img{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px #dad8d8;
    padding: 3px;
    height: 25px;
    width: 25px;
}
.menu-div :active{
    margin-top: 21px;
    box-shadow: 0 0 0 0 #dad8d8;
}
.width-300px{
    width: 300px;
}

.width-menu{
    width: calc(50% - 570px);
}
.menu-downer{
    display: inline-block;
    top:0px;
    left: 0px;
    min-height: 500px;
    height: 100%;
}
.disp-in{
    float: left;
    transition: all 0.1s linear;
}
.disp-out{
    display: inline-block;
    position: fixed;
    width: 0px;
    transition: all 0.1s linear;
    /*display: none;*/
}
.back-color-menu{
    background-color: #f1f7fd;
}
.sideMenu{
    max-width: 350px;
    width: 300px;
    float: right;
    margin-top: 158px;
}
.sideMenu > ul{
    margin-bottom: 60px;
}
.sideMenu > ul > li{
    color: #3a3b3f;
    margin-bottom: 3px;
    font-family: Roboto;
    text-align: left;
    width: 100%;
    overflow: hidden
}

.topCate{
    font-weight: 600;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
.subCate{
    display: block;
    margin-left: 25px;
}
.article-img{
    border: 1px solid #f1f1f1;
}
.article-img > img{
    width: 140px;
    height: 140px;
}
.article-card-body > a {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.hover-li:hover{
    font-weight: 800;
}