@media all and (max-width: 1024px){
/* 브라우저 창 width가 1024px보다 작아지는 순간부터 적용 */
/* 태블릿 */

}
@media all and (max-width: 768px){
/*모바일*/
    .width-1140px{
        width: 100%;
    }
    .blogname{
        margin-top: 80px;
        font-size: 32px;
    }
    .tc-spacer2{
        padding: 0px;
    }
    .login-from{
        width: 100% !important;
        display: block !important;
    }
    .padding-rl-80p-t-40p{
        padding: 0px;
    }
    .profile-div{
        width: 100% !important;
        height: auto !important;
    }
    .profile-div2{
        width: 100% !important;
        height: 50vw !important;
    }
    .sc-iBkjds {
        width: 100% !important;
    }
    .sc-ftvSup{
        width: 100% !important;
    }
    .summit > nav > div > div > div{
        height: 180px;
        background-color: white;
    }
    .menu-div >img.menu-div{
        display: none;
    }
    .article-card-category{
        min-width: 55px;
    }
    .article-card-time{
        display: none;
    }
    .disp-out{
        display: inline-block;
        position: fixed;
        height: 0px;
        transition: all 0.1s linear;
        /*display: none;*/
    }

    .disp-in{
        float: left;
        transition: all 0.1s linear;
    }
    .width-menu{
        width: 100%;
    }
    .back-color-menu{
        background-color: #f1f1f1;
        opacity: 0.93;
    }
    .width-1140px > nav.disp-flex{
        display: block;
    }
    .tui-editor-contents > pre{
        width: calc(100% - 40px);
    }
    .article-card-body > div{
        padding: 10px;
        width: calc(100% - 20px);
    }
    .auth-menu{
        margin: 0 auto;
        text-align: center;
    }
    .pad-t10p{
        padding-top: 40px;
    }
    .h2-head{
        padding: 3px;
    }

    p.article-card-content{
        font-size: 14px;
        max-height: 80px;
        overflow: hidden;
    }
    .res-disp-block{
        display: block;
    }
    .article-img{
        margin-right: 10px;
        width: 80px;
        height: 80px;
    }
    .article-img > img{
        width: 80px;
        height: 80px;
    }
    .article-card-body-body{
        width: calc(100% - 90px);;
    }
    .article-title{
        padding-left: 10px;
        padding-right: 10px;
    }

    .tui-editor-contents > table{
        width: 100% !important;
    }

}
@media all and (min-width: 768px){
/*태블릿 세로*/
    .menu-div2{display: none}

}


@media all and (min-width: 992px){
/* 태블릿 가로 */

}
@media all and (min-width: 1140px) {

}